/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.navbar h2 {
  color: #38bdf8;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li {
  cursor: pointer;
}



/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  gap: 50px;
  margin-top: 60px;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 22px;
  color: #cbd5e1;
  line-height: 1.7;
  max-width: 700px;
}

.hero-right {
  width: 40%;
  display: flex;
  justify-content: center;
}



/* button */
.buttons {
  margin-top: 40px;
}

.buttons button {
  padding: 15px 35px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s;
}

.buttons button:first-child {
  background: #38bdf8;
  color: white;
}

.buttons button:last-child {
  background: white;
  color: black;
}

.buttons button:hover {
  transform: scale(1.05);
}



/* 3D Preview Box */
.image-box {
  width: 380px;
  height: 380px;
  background: #1e293b;
  border: 2px dashed #38bdf8;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  transition: 0.3s;
}

.image-box:hover {
  transform: scale(1.03);
}




/* Responsive Design */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .navbar ul {
    gap: 20px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    gap: 40px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 48px;
  }

  .hero-left p {
    font-size: 18px;
    max-width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .buttons button {
    width: 220px;
    margin-right: 0;
  }

  .image-box {
    width: 300px;
    height: 300px;
    font-size: 24px;
  }
}