* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.navbar h2 {
  color: #38bdf8;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li {
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #cbd5e1;
  width: 700px;
  margin: auto;
  line-height: 1.6;
}

.buttons {
  margin-top: 40px;
}

.buttons button {
  padding: 15px 35px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
}

.buttons button:first-child {
  background: #38bdf8;
  color: white;
}

.buttons button:last-child {
  background: white;
  color: black;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-left{
    width:50%;
}

.hero-left h1{
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-left p{
    font-size:22px;
    color:#cbd5e1;
    line-height:1.7;
}

.hero-right{
    width:40%;
    display:flex;
    justify-content:center;
}

.image-box{

    width:380px;
    height:380px;

    background:#1e293b;

    border-radius:25px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:30px;

    border:2px dashed #38bdf8;
}